<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lucas Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheets" href="/public/styles.css">
</head>

<body>


    <div class="container" style="text-align:center">
        <h1 style="color: rgb(179, 179, 179)"> Light Gallery </h1>
        <p style="font-size:28px; color:rgb(179, 179, 179)">Image gallery made with bootstrap</p>
    </div>

    <div class="images" style="display: flex" style="padding: 20%">

        <div class="card" style="width: 20rem;display:flex;heigth: 300px;">
            <img  style="height: 400px;" src="https://images.unsplash.com/photo-1535462009050-27ddea306055?ixlib=rb-1.2.1&auto=format&fit=crop&w=649&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text" style="text-align:center">Tower 1</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;display:flex;heigth: 300px;">
            <img style="height: 400px;" src="https://images.unsplash.com/photo-1538470661317-e0ea3e192ef2?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text" style="text-align:center">Tower 2</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;display:flex;heigth: 300px;">
            <img  style="height: 400px;" src="https://images.unsplash.com/photo-1551250930-ace1ad395cea?ixlib=rb-1.2.1&auto=format&fit=crop&w=673&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text" style="text-align:center">Tower 3</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;" style="display:flex" style="heigth: 300px;">
            <img style="height: 400px;" src="https://images.unsplash.com/photo-1531903941236-b67dd2867cff?ixlib=rb-1.2.1&auto=format&fit=crop&w=646&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text" style="text-align:center">Tower 4</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;" style="display:flex" style="heigth: 300px;">
            <img style="height: 400px;" src="https://images.unsplash.com/photo-1534239143101-1b1c627395c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text" style="text-align:center">Tower 5</p>
            </div>
        </div>

    </div>










    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</body>

</html>